# Configuration for coverage.py

[run]
branch = True
omit =
    */setup.py
    */benchmarks/benchmark_correct.py
    */benchmarks/benchmark_fit.py
    */benchmarks/benchmark_plot.py

[report]
exclude_lines =
    def __repr__
    if __name__ == .__main__.: